/* Basic styling for the header */
h1,h2,h3,h4,h5,h6, p, span, li, a, label{
    font-family: 'Roboto', sans-serif;
}
header {
    background-color: transparent;
    color: #fff;
    padding: 20px 0;
    margin-bottom: 4em;
    font-family: 'Roboto', sans-serif;
    z-index: 999;
}
.row{
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}
.col-1 {
    width: 8.33%; /* 1/12 */
    float: left;
}

.col-2 {
    width: 16.66%; /* 2/12 */
    float: left;
}

.col-3 {
    width: 25%; /* 3/12 */
    float: left;
}

.col-4 {
    width: 33.33%; /* 4/12 */
    float: left;
}

.col-6 {
    width: 50%; /* 6/12 */
    float: left;
}

.col-8{
    width: 66.66%;
    float: left;
}
.col-9{
    width: 75%;
    float: left;
}
.col-10{
    width: 83.33%;
    float: left;
}
.col-11{
    width: 91.66%;
    float: left;
}
.col-12 {
    width: 100%; /* 12/12 (full width) */
    float: left;
}

.container {
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-logo img{
    width:  160px !important; 
}

.logo span {
    font-weight: bold;
    font-size: 1.2em;
}

/*FOOTER STYLES*/
nav ul {
    list-style: none;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 1.1em;
}

/* Footer styles */
footer {
    margin-top: 4em;
    background-color: #333;
    color: #fff;
    padding: 20px 0;
    position: relative;
    width: 100%;
    bottom: 0;
}

.footer-column {
    width: 30%;
    display: inline-block;
    vertical-align: top;
    margin: 0 1.5%;
    box-sizing: border-box;
}

/* Additional styles as needed for logo, navigation, address, and map */
.footer-logo {
    width: 50px; /* Adjust logo size as needed */
}

/* Style for the map */
#map {
    width: 100%;
    height: 200px; /* Adjust the height as needed */
    background-color: #ddd; /* Placeholder color for the map */
}

.homepage{
    background-image: url(../img/homepage.jpg);
    height: 600px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    bottom: 165px;
    width: 100%;
    z-index: -1;
}
.homepage-intro-text{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    text-shadow: 2px 2px 4px #00000023;
}

.homepage-featured{
    background-color: #f5f5f5;
    padding: 50px 0;
    margin: 50px 0px;
}
.homepage-featured-items{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin: 0 auto;
    width: 70%;
}

.homepage-featured-intro-text{
    text-align: center;
    font-family: 'Roboto', sans-serif;
    margin-bottom: 50px;
}
.homepage-featured-intro-text h2{
    font-size: 2.5em;
    font-weight: 700;
    margin-bottom: 20px;
}
.homepage-featured-intro-text p{
    font-size: 1.2em;
    font-weight: 400;
    color: #0000008a;
}
.featured-item{
    background-color: #fff;
    margin: 0px 20px;
}
.featured-item img{
    width: 100%;
}
.featured-item-details{
    padding: 20px;
}
.featured-item-details span{
    font-size: 1.2em;
}
.yacht-hourly-rate{
    background-color: #17abe5;
    color: #fff;
    width: 100px;
    font-size: 1.2em;
    padding: 10px 10px 10px 10px;
    z-index: 999;
    position: relative;
    bottom: 50px;
}
.yacht-ad{
    color: #323232;
    font-size: 32px;
    padding-bottom: 10px;
}
a .yacht-ad{
    color: #323232;
    font-size: 32px;
    padding-bottom: 10px;
    text-decoration: none;
}
a{
    text-decoration: none;

}
.yacht-ad:hover{
    color: #17abe5;
}
.booking-footer{
    background-color: #0B0E1E;
    height: 400px;
    padding: 50px 0px;
    margin: 50px 0px;
}
.booking-form{
    background-color: #fff;
    padding: 20px;
}
.booking-form h2{
    font-size: 2.5em;
    font-weight: 700;
    margin-bottom: 20px;
    text-align: center;
}
.booking-form label{
    font-size: 1em;
    font-weight: 400;
    color: #000000c6;
}
.submit-btn{
    background-color: #17abe5;
    height: 35px !important;
    width: 100% !important;
    color: #fff;
    padding: 20px 20px;
    border: none;
    font-size: 1.2em;
    font-weight: 400;
    margin-top: 20px;
    cursor: pointer;
    border-radius: 5px;
    display: inline-flex;
    align-items: center;
    text-align: center;
    flex-direction: column;
    justify-content: center;
}
.full-field{
    width: 95% !important;
}
.submit-btn:hover{
    background-color: #0b8ecf;
}
.booking-form input{
    margin-top: 10px;
    width: 95% !important;
}
.booking-form input, select{
    border: 1px solid #0000008a;
    padding: 10px;
    width: 100%;
    margin-bottom: 20px;
}

.booking-form input, select{
    width: 100%;
}
.booking-footer-info{
    color: gray;

}
.booking-footer-info h2{
    font-size: 1.4em;
    font-weight: 700;
    margin-bottom: 20px;
    color: gray;
}
.booking-footer-links h2{
    font-size: 1.4em;
    font-weight: 700;
    margin-bottom: 20px;
    color: gray;
}
.booking-footer-links li a{
    list-style: none;
    text-decoration: none;
    color: gray;
    font-size: 1.2em;
    font-weight: 400;
    line-height: 35px;
}
.booking-footer-links i{
    color: gray;
    font-size: .9em;
}
.booking-footer-info p, span{
    font-size: 1.2em;
    font-weight: 400;
    word-wrap: break-word;
    margin: 15px 0px;
    line-height: 22px;
}

.booking-footer-info span{
    font-size: 1.4em; 
}
.booking-quote{
    border-left-color: 1px solid #fff;
}
.register-form-section{
    background-color: #f5f5f5;
    width: 100% !important;
    padding: 50px 0;
    margin: 50px 0px;
}
#register-intro-text{
    font-size: 2.5em !important;
    font-weight: 700;
    margin-bottom: 20px;
    text-align: center;
}
form input{
    margin-top: 10px;
    height: 30px !important;
    width: 90% !important;
    border-radius: 5px;
    border: 1px solid #0000008a;
}
form textarea{
    margin-top: 10px;
    height: 100px !important;
    width: 90% !important;
    border-radius: 5px;
    border: 1px solid #0000008a;
}
form label{
    font-size: 1.3em;
    font-weight: 400;
    color: #000000c6;
}
.register-form-fields{
    width: 100%;
}
.contact-section{
    background-color: lightgray !important;
    width: 100% !important;
    padding: 50px 0;
    margin: 50px 0px;
    height: auto;
    margin-top: -170px;
}
.contact-section h2{
    font-size: 2.5em !important;
    font-weight: 700;
    margin-bottom: 20px;
    text-align: center;
}
.contact-section p{
    font-size: 1.2em;
    font-weight: 400;
    color: #000000c6;
    text-align: center;
}
.contact-form{
    width: 60%;
}

.info-box {
    display: flex;
    justify-content: space-around;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 20px;
}

.footer-contact-inner {
    text-align: center;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;

}

.footer-contact-inner h3 {
    margin-bottom: 5px;
    font-size: 16px;
}

.footer-contact-inner p {
    margin: 0;
    color: #333;
    font-size: 14px;
}
.homepage-featured-intro-text h3{
    margin: 10px 0px; 
    font-size: 1.5em;
    font-weight: bold;
    margin-bottom: 20px;
}
.homepage-featured-intro-text p{
    font-size: 1em;
    font-weight: 400;
    color: #0000008a;
    text-align: left;
}
#about-image{
    width: 80% !important;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    z-index: -1;
    border-radius: 5px;
}
.homepage-intro-text h1{
    font-size: 3em;
    font-weight: 700;
    margin-bottom: 20px;
}
.homepage-intro-text p{
    font-size: 1.2em;
    font-weight: 400;
    color: #fff;
}